extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      .container

        // swiper
        .template-block

          .template-block__title Swiper

          #swiper.swiper__slider
            .swiper-wrapper 
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
            //- If we need pagination
            .swiper-pagination
            //- If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            //- If we need scrollbar
            .swiper-scrollbar
        // /swiper

        // airDdatepicker
        .template-block

          .template-block__title AirDatepicker

          .airDdatepicker
            input(type="text")#airDatepicker
          // /airDdatepicker

        // magnigicPopup
        .template-block

          .template-block__title Magnific Popup
          
          a(href="#test-popup").open-popup-link Magnific Popup 
          #test-popup.popup.mfp-hide
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor in architecto similique dolorum beatae atque illo! Quaerat quod error, reprehenderit fugit explicabo eligendi quia commodi amet earum aliquid soluta! Omnis, odio illo adipisci quaerat doloremque dolore cupiditate rerum et nemo, molestias natus, a nesciunt excepturi dolores beatae ad autem tempora libero. A quae itaque dolores magnam tempora id labore explicabo animi voluptas possimus ab minima sint, reprehenderit beatae quod ipsa, vitae porro nulla. Quam recusandae iure veritatis, id aut expedita modi, atque facilis nobis accusamus nostrum. Recusandae reiciendis deleniti, debitis, possimus tenetur aspernatur similique non atque eveniet et inventore?
        // /magnigicPopup

        // tabs
        .template-block

          .template-block__title Tabs

          .js-tabs
            ul
              li 
                a(href="#tab_1").js-tabs-trigger.active tab_1
              li 
                a(href="#tab_2").js-tabs-trigger tab_2
              li 
                a(href="#tab_3").js-tabs-trigger tab_3
            div
              .js-tabs-content.open(data-href="#tab_1")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit. Dolorum, eveniet, adipisci! Aperiam soluta, harum obcaecati earum optio libero reprehenderit, fuga. Libero odio eaque deserunt recusandae, maxime quaerat autem! Eligendi inventore laudantium odit magni nihil eos soluta quisquam, unde.
              .js-tabs-content(data-href="#tab_2")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit.
              .js-tabs-content(data-href="#tab_3")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt assumenda quod fugit, eos dolorem ut ex inventore facere non sit. Dolorum, eveniet, adipisci! Aperiam soluta, harum obcaecati earum optio libero reprehenderit, fuga. Libero odio eaque deserunt recusandae, maxime quaerat autem! Eligendi inventore laudantium odit magni nihil eos soluta quisquam, unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officia, aliquam, nemo est unde nesciunt ipsam iure numquam natus error!
        // /tabs

        // scrollup
        .scrollup
          svg(class="icon-arrow-up")
            use(xlink:href="img/sprite.svg#arrow-up")
        // /scrollup
        
        // more-list

        .template-block__title More list 

        .more-list
          ul.js-more-list
            li 1
            li 2
            li 3
            li 4
            li 5
            li 6
          button.js-more-btn Показать еще
        // /more-list

        // counter
        .template-block

          .template-block__title Counter

          .counter.js-counter
            .counter__btn.js-counter-minus 
              svg(class="icon-minus")
                use(xlink:href="img/sprite.svg#minus")
            .counter__input.js-counter-input
              input(type="text" value="1" maxlength="3")
            .counter__btn.js-counter-plus 
              svg(class="icon-plus")
                use(xlink:href="img/sprite.svg#plus")
        // /counter

        // accordion
        .template-block

          .template-block__title Accordion

          .accordion.js-accordion
            .accordion__item
              .accordion__trigger.js-accordion-trigger.active(data-content="trigger_1") triger 1
              #trigger_1.accordion__content.js-accordion-content.open
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
            .accordion__item
              .accordion__trigger.js-accordion-trigger(data-content="trigger_2") triger 2
              #trigger_2.accordion__content.js-accordion-content
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
            .accordion__item
              .accordion__trigger.js-accordion-trigger(data-content="trigger_3") triger 3
              #trigger_3.accordion__content.js-accordion-content
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel consequatur, obcaecati repellendus laboriosam at quos, similique saepe hic vero fugit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet quibusdam temporibus officia molestias assumenda, sint deserunt nemo quas dolores fuga maxime, soluta provident blanditiis magni ipsum totam expedita quasi ipsa.
        // /accordion

        // noUiSlider
        .template-block

          .template-block__title noUiSlider

          #noUiSlider(data-min="0" data-max="1000" data-nowmin="100" data-nowmax="700")
          input#noUiSliderMin(type="text", name="rangeMin")
          input#noUiSliderMax(type="text", name="rangeMax")
        // /noUiSlider

        // bootstrap-modal-popup
        .template-block

          .template-block__title Bootstrap Modal

          .bootstrap-modal-popup

            .btn.btn-primary(data-bs-toggle="modal" data-bs-target="#exampleModal") Запустите демо модального окна

            .modal.fade#exampleModal(tabindex="-1")
              .modal-dialog
                .modal-content
                  .modal-header
                    h1 Заголовок модального окна
                    .btn-close(data-bs-dismiss="modal")
                  .modal-body
                    p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Ты там агентство первую снова прямо переписывается вскоре меня наш.
                  .modal-footer
                    .btn.btn-secondary(data-bs-dismiss="modal") Закрыть
                    .btn.btn-primary Сохранить изменения
        //bootstrap-modal-popup

        // bootstrap-accordion
        .template-block

          .template-block__title Bootstrap Accordion

          .accordion#accordionExample
            .accordion-item
              .accordion-header
                .accordion-button(data-bs-toggle="collapse" data-bs-target="#collapse1") Элемент аккордеона #1
              .accordion-collapse.collapse.show#collapse1(data-bs-parent="#accordionExample")
                .accordion-body
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Инициал, большого? Образ ipsum предупредила великий что грустный безопасную коварный от всех сбить своего использовало заглавных большой толку предупреждал, повстречался грамматики рыбного продолжил собрал правилами, однажды вскоре путь. Продолжил, пояс скатился!
            .accordion-item
              .accordion-header
                .accordion-button.collapsed(data-bs-toggle="collapse" data-bs-target="#collapse2") Элемент аккордеона #2
              .accordion-collapse.collapse#collapse2(data-bs-parent="#accordionExample")
                .accordion-body
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Инициал, большого? Образ ipsum предупредила великий что грустный безопасную коварный от всех сбить своего использовало заглавных большой толку предупреждал, повстречался грамматики рыбного продолжил собрал правилами, однажды вскоре путь. Продолжил, пояс скатился!
            .accordion-item
              .accordion-header
                .accordion-button.collapsed(data-bs-toggle="collapse" data-bs-target="#collapse3") Элемент аккордеона #3
              .accordion-collapse.collapse#collapse3(data-bs-parent="#accordionExample")
                .accordion-body
                  p Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Инициал, большого? Образ ipsum предупредила великий что грустный безопасную коварный от всех сбить своего использовало заглавных большой толку предупреждал, повстречался грамматики рыбного продолжил собрал правилами, однажды вскоре путь. Продолжил, пояс скатился!
        // /bootstrap-accordion

        // bootstrap-tabs
        .template-block

          .template-block__title Bootstrap Tabs 

          ul.nav.nav-pills.mb-3
            li.nav-link.active(data-bs-target="#pills-home" data-bs-toggle="pill") Главная
            li.nav-link(data-bs-target="#pills-profile" data-bs-toggle="pill") Профиль
            li.nav-link(data-bs-target="#pills-contact" data-bs-toggle="pill") Контакт
            li.nav-link(data-bs-target="#pills-disabled" data-bs-toggle="pill" disabled) Отключен
          .tab-content
            .tab-pane.fade.show.active#pills-home Текст 1. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жаренные предупреждал несколько встретил речью, приставка одна имени единственное взгляд оксмокс, подзаголовок ее переписали над снова буквенных. Агентство использовало собрал залетают то. Себя до которой курсивных, жаренные семь однажды если!
            .tab-pane.fade#pills-profile Текст 2. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жаренные предупреждал несколько встретил речью, приставка одна имени единственное взгляд оксмокс, подзаголовок ее переписали над снова буквенных. Агентство использовало собрал залетают то. Себя до которой курсивных, жаренные семь однажды если!
            .tab-pane.fade#pills-contact Текст 3. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жаренные предупреждал несколько встретил речью, приставка одна имени единственное взгляд оксмокс, подзаголовок ее переписали над снова буквенных. Агентство использовало собрал залетают то. Себя до которой курсивных, жаренные семь однажды если!
            .tab-pane.fade#pills-disabled Текст 4. Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Жаренные предупреждал несколько встретил речью, приставка одна имени единственное взгляд оксмокс, подзаголовок ее переписали над снова буквенных. Агентство использовало собрал залетают то. Себя до которой курсивных, жаренные семь однажды если!
        
        // /bootstrap-tabs

        // aos
        .template-block

          .template-block__title AOS

          .aos(data-aos="fade-up")
        // /aos

        // autosize
        .template-block 

          .template-block__title Autosize

          textarea.autosize
        // /autosize

        // inputmask
        .template-block 

          .template-block__title Inputmask
          
          input(type="tel")
        // /inputmask

        // pagination
        .template-block 

          .template-block__title Pagination

          nav.pagination
            ul.pagination__list 
              li.pagination__item 
                a(href="#").pagination__link 
                  svg(class="icon-arrow-left")
                    use(xlink:href="img/sprite.svg#arrow-left")
              li.pagination__item 
                a(href="#").pagination__link 1
              li.pagination__item 
                a(href="#").pagination__link 2
              li.pagination__item 
                a(href="#").pagination__link 3
              li.pagination__item 
                a(href="#").pagination__link 
                  svg(class="icon-arrow-right")
                    use(xlink:href="img/sprite.svg#arrow-right")

        // /pagination

        // bootstrap-tooltips 
        .template-block 
        
          .template-block__title Bootstrap Tooltips

          .btn.btn-secondary(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Это всплывающая подсказка") Пользовательская подсказка

          #example.btn.btn-secondary(data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Это всплывающая подсказка") Кастомная подсказка

        // /bootstrap-tooltips 

        // jquery-scrollbar
        .template-block 
        
          .template-block__title jQuery Scrollbar

          .jquery-scrollbar
            .scrollbar-inner
              .jquery-scrollbar__content Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Парадигматическая заголовок свой ручеек, если великий страна которое ты осталось агентство города силуэт там снова, путь себя рукопись не lorem. Собрал использовало, рукопись решила щеке своего букв последний вершину рекламных необходимыми путь первую языком. Если текстов буквенных власти не, он раз залетают свой даже текст океана заманивший но послушавшись скатился образ путь они оксмокс рот речью пор за осталось дорогу то снова сих! Великий ему семантика оксмокс дал моей выйти мир вопроса возвращайся, щеке на берегу до агентство не грамматики, живет за однажды текста страна текстов которое силуэт он буквоград послушавшись! Дорогу которой деревни грамматики они? Скатился ведущими свою дороге встретил, одна толку диких безопасную свой рекламных даль, себя алфавит повстречался пунктуация, о сбить строчка приставка океана она продолжил бросил это рукопись знаках заманивший. Рыбного приставка мир бросил безопасную моей вопрос над по всей вершину, эта страну она. Лучше текстами текстов щеке, первую запятых они жизни. Несколько это грамматики по всей осталось все курсивных заглавных оксмокс обеспечивает назад он прямо большого даже речью на берегу рыбными там использовало маленькая дорогу, ему свой мир, диких щеке. Имеет наш ты себя, живет океана курсивных пунктуация предложения. Свою агентство своих грустный щеке букв по всей ipsum путь свой?
        // /jquery-scrollbar

        // tooltipster
        .template-block 
        
          .template-block__title Tooltipster

          p("tooltip" title = "Это сообщение подсказки!") Какой-то текст
        // /tooltipster

        // fancybox
        .template-block 
        
          .template-block__title Fancybox

          .row 
            .col-sm-4 
              a(href="img/fancybox/1.webp" data-fancybox="gallery") 
                img(src="img/fancybox/1.webp", alt="")
            .col-sm-4 
              a(href="img/fancybox/2.webp" data-fancybox="gallery") 
                img(src="img/fancybox/2.webp", alt="")
            .col-sm-4 
              a(href="img/fancybox/3.webp" data-fancybox="gallery") 
                img(src="img/fancybox/3.webp", alt="")

        // /fancybox

        // circle-progress
        .template-block 
        
          .template-block__title Circle Progress
        // /circle-progress

        circle-progress.progress-1(value="30" max="100" animation-duration="1000" animation="easeInCubic")
        circle-progress.progress-2(value="60" max="100" text-format="percent" animation-duration="1000")

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto qui hic quibusdam itaque! Adipisci iure earum deleniti rerum impedit iusto amet quos dolor! Aspernatur perspiciatis vitae officia aut, doloribus sapiente ipsa nihil minima quisquam quam nam quas, natus nobis nulla ipsum quo. Dolor blanditiis distinctio labore, qui iure mollitia minus nemo delectus possimus beatae recusandae quis voluptate impedit excepturi dolorem eaque dolores est dicta numquam ratione velit at dolorum quia reiciendis! Cum omnis esse magni unde iure repellendus labore corporis laboriosam, dolores aperiam dolorem nam, consequuntur eveniet illum. Nemo eos est consequatur necessitatibus, soluta non fugiat quia ducimus veniam delectus perspiciatis nisi similique! Ex voluptate nesciunt quo distinctio fugit, ab animi officia aperiam dolor atque id qui doloremque, libero necessitatibus cum tenetur vero a. Quo explicabo beatae repellendus recusandae alias minus earum eaque sunt eos iusto reprehenderit aliquam architecto maxime corrupti, debitis dolores sequi nostrum incidunt magni. Enim esse doloribus cupiditate illo qui repellat sequi perferendis a, maxime architecto aliquam odio aliquid totam cumque quibusdam harum consequatur velit nulla, distinctio amet dicta dolorem quaerat? Sed, illum iusto! Ratione, harum sapiente ab asperiores incidunt omnis et similique eos earum velit culpa reiciendis at excepturi nemo dolorum nobis maiores quaerat consectetur aspernatur aliquam. Omnis beatae modi tenetur numquam suscipit aspernatur ut magni debitis ipsum fugit placeat ducimus expedita quo velit, fuga saepe sint aliquid deleniti sequi! Eligendi nisi necessitatibus dolorum aut quo sunt ratione enim facilis, cumque vitae in dignissimos pariatur quae. Veniam, pariatur nisi consectetur praesentium accusantium ipsam numquam eius hic quis tenetur rem eum ut delectus incidunt porro voluptatum eaque. Eaque facere maxime rem provident quibusdam labore. Ea neque harum quod non! Eum, ipsum blanditiis, ad minima voluptate ea voluptates minus eius corporis quia illo adipisci tenetur sequi similique eveniet maiores dolores officiis accusamus error accusantium possimus magni soluta. Dolorem, odio magnam! Beatae eius sunt est placeat facere nesciunt labore, debitis vel, aliquam atque dicta tempore nostrum qui, voluptas reiciendis nulla dolorem? Consequuntur aspernatur saepe animi dicta sequi odio. Ad rem fuga, et dicta provident aliquid praesentium numquam! Atque quis praesentium dolorem fugit. Alias voluptates obcaecati eum magni dolores, sunt placeat ut deserunt itaque eius aut atque blanditiis! Amet ratione eum tempora eaque obcaecati assumenda nobis voluptatibus fuga inventore temporibus, labore aperiam id dolore consectetur quis possimus facere sunt unde officia pariatur earum. Ipsam, temporibus esse laboriosam fugiat delectus recusandae vero commodi dolor, sed non eius! Omnis cupiditate nesciunt qui repellat ab laboriosam facere quisquam ut, dolorem magni officia obcaecati quaerat quasi laborum adipisci voluptate deleniti fuga similique alias odit? Autem culpa vitae, obcaecati assumenda maxime inventore blanditiis incidunt adipisci vel consectetur? Obcaecati aspernatur tempore autem vel, quam pariatur exercitationem animi! Beatae, laborum quasi doloribus, in autem, harum corporis exercitationem saepe corrupti minus cupiditate? Nulla deleniti, nisi praesentium maxime repudiandae corporis officia sint exercitationem id distinctio dolorem nesciunt in vero recusandae dolore. Voluptas magni saepe laudantium sint consequuntur recusandae consequatur at, reiciendis odit nostrum deleniti commodi quisquam, a expedita magnam nemo ipsum hic similique corrupti eaque officiis? Sequi, adipisci repellendus.

    include core/footer.pug
