extends core/base.pug

block title 
  title Главная

block content

  .page 

    include core/header.pug

    .content 

      // swiper
      .swiper
        .wrapper 
          #swiper.swiper__slider
            .swiper-wrapper 
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
              .swiper-slide 
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim amet aliquam facilis consequatur nesciunt tenetur fugit, aut repellendus fugiat rem, asperiores et laboriosam beatae accusamus! Aliquam magni similique reiciendis perferendis, nulla consequatur vero dolorum iste quos voluptatem distinctio fuga, tempora doloribus cupiditate est quod commodi expedita minima officia facilis ullam.
            //- If we need pagination
            .swiper-pagination
            //- If we need navigation buttons
            .swiper-button-prev
            .swiper-button-next
            //- If we need scrollbar
            .swiper-scrollbar
      // /swiper

      // airDdatepicker
      .airDdatepicker
        .wrapper 
          input(type="text")#airDatepicker
      // /airDdatepicker

      // magnigicPopup
      .magnigicPopup
        .wrapper 
          a(href="#test-popup").open-popup-link Magnific Popup 
          #test-popup.popup.mfp-hide
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Error dolor in architecto similique dolorum beatae atque illo! Quaerat quod error, reprehenderit fugit explicabo eligendi quia commodi amet earum aliquid soluta! Omnis, odio illo adipisci quaerat doloremque dolore cupiditate rerum et nemo, molestias natus, a nesciunt excepturi dolores beatae ad autem tempora libero. A quae itaque dolores magnam tempora id labore explicabo animi voluptas possimus ab minima sint, reprehenderit beatae quod ipsa, vitae porro nulla. Quam recusandae iure veritatis, id aut expedita modi, atque facilis nobis accusamus nostrum. Recusandae reiciendis deleniti, debitis, possimus tenetur aspernatur similique non atque eveniet et inventore?
      // /magnigicPopup

    include core/footer.pug
