/* js-scrollup */
.scrollup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: blue;
  fill: #fff;
  cursor: pointer;
  user-select: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 10;
  opacity: 0;
  transform: translate(0, 50px);
  visibility: hidden;
  transition: 0.5s;
  svg {
    width: 20px;
    height: 20px;
  }
  &.show {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
  }
}
/* /js-scrollup */